:host {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 64px);
  .content {
    flex: 1 1 auto;
    background-color: blueviolet;
    display: flex;
    justify-content: end;
  } 

  .footer {
    flex: 0 1 auto;
    height: 160px;
    background-color: gray;
  }

  .circle {
    background-color: wheat;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin: auto 0;
    margin-right: 100px;
  }
}